<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="m-3">
                <form>
                    <div class="form-group">
                        <label for="search-input">Search</label>
                        <input type="text" class="form-control" id="search-input" placeholder="Search">
                        <small id="search-help" class="form-text text-muted">Search everywhere you want</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
